@import "../../index.scss";
@import "../../variable.scss";

.pdesc__description-container {
  @extend .flex-column;
  width: 100%;
  height: auto;
  padding: 10px;

  h1 {
    color: $primary-color;
    font-size: 3rem;
  }

  p {
    color: $quaternary-color;
    font-size: 1rem;
    text-align: justify;
  }
}
