@import "../../variable.scss";
@import "../../index.scss";

main {
  @extend .flex-column;
  @extend .page-size;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  transition: all ease 0.2s;

  .pd__grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    grid-template-rows: repeat(auto-fill, 50%);
    width: 75%;
    height: 75%;
    background-color: $secondary-color;
    border-radius: 20px;
    padding: 20px;
    z-index: 1;
    position: relative;
    transition: all ease 0.2s;

    @include MDdesktop {
      width: 80%;
      height: 80%;
    }

    @include desktop {
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }

    @include LGtablet {
      width: 100%;
      height: 100%;
      border-radius: 0px;
      overflow-y: auto;
      grid-template-columns: repeat(auto-fill, 100%);
      grid-template-rows: 50% repeat(3, auto);
    }

    @include tablet {
      width: 100%;
      height: 100%;
      border-radius: 0px;
      grid-template-columns: repeat(auto-fill, 100%);
      grid-template-rows: 50% repeat(3, auto);
      overflow-y: auto;
    }

    @include phone {
      width: 100%;
      height: 100%;
      border-radius: 0px;
      grid-template-columns: repeat(auto-fill, 100%);
      grid-template-rows: 40% repeat(3, auto);
      overflow-y: auto;
    }

    #pd__back-btn {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      border-radius: 100%;
      border: none;
      background-color: $primary-color;
      color: $quaternary-color;
      transition: all ease 0.2s;
      z-index: 1;

      @include MDdesktop {
        width: 30px;
        height: 30px;
        font-size: 18px;
      }

      @include desktop {
        width: 25px;
        height: 25px;
        font-size: 15px;
      }

      &:hover {
        opacity: 0.5;
      }
    }

    section {
      flex: 1;
      padding: 10px;

      @include LGtablet {
        height: 100%;
      }

      @include tablet {
        height: 100%;
      }

      @include phone {
        height: 100%;
      }
    }

    .pd__main-image-container {
      display: flex;
      position: relative;

      @include LGtablet {
        height: 100%;
      }

      @include tablet {
        height: 100%;
      }

      @include phone {
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-color: $tertiary-color;
        border-radius: 20px;
        border: 2px solid $quaternary-color;
      }

      #pd__repo-btn {
        @extend .flex-column;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 40px;
        position: absolute;
        right: 25px;
        bottom: 25px;
        border-radius: 20px;
        font-size: 25px;
        border: none;
        background-color: $quaternary-color;
        transition: all ease-in-out 0.2s;
        color: $secondary-color;

        @include MDdesktop {
          width: 80px;
          height: 30px;
          font-size: 20px;
        }

        @include desktop {
          width: 80px;
          height: 30px;
          font-size: 18px;
        }

        @include phone {
          width: 80px;
          height: 30px;
          font-size: 18px;
          border: 2px solid $tertiary-color;
        }

        &:hover {
          outline: 3px solid $primary-color;
        }
      }
    }

    .pd__description-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 30px;
      overflow-y: auto;

      @include LGtablet {
        justify-content: flex-start;
        overflow: visible;
      }

      @include tablet {
        justify-content: flex-start;
        overflow: visible;
      }

      @include phone {
        justify-content: flex-start;
        overflow: visible;
      }

      h1 {
        font-size: 4rem;
        color: $primary-color;

        @include MDdesktop {
          font-size: 3rem;
        }

        @include desktop {
          font-size: 2rem;
        }

        @include tablet {
          font-size: 3rem;
        }

        @include phone {
          font-size: 2.5rem;
        }
      }

      p {
        font-size: 1.25rem;
        color: $quaternary-color;
        text-align: left;

        @include MDdesktop {
          font-size: 1.15rem;
        }

        // @include desktop {
        //   font-size: 1.1rem;
        // }

        @include tablet {
          font-size: 1.25rem;
        }

        @include phone {
          font-size: 1.25rem;
        }
      }
    }

    .pd__technologies-container {
      display: flex;
      flex-direction: column;
      padding: 20px;

      h1 {
        font-size: 3rem;
        color: $quaternary-color;

        @include MDdesktop {
          font-size: 2rem;
        }

        @include desktop {
          font-size: 1.75rem;
        }

        @include tablet {
          font-size: 3rem;
        }

        @include phone {
          font-size: 2.5rem;
        }
      }

      .pd__technologies-grid {
        display: flex;
        gap: 10px;
        padding: 10px;
        position: relative;
        box-sizing: border-box;
        flex-wrap: wrap;
        overflow: auto;

        #pd__technology {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 5px 20px;
          position: relative;
          white-space: pre;
          gap: 10px;
          background-color: $tertiary-color;
          border-radius: 50px;
          height: 40px;

          #pd__icon {
            width: 30px;
            height: 30px;

            @include MDdesktop {
              width: 20px;
              height: 20px;
            }

            @include desktop {
              width: 20px;
              height: 20px;
            }

            @include LGtablet {
              width: 20px;
              height: 20px;
            }

            @include tablet {
              width: 20px;
              height: 20px;
            }

            @include phone {
              width: 20px;
              height: 20px;
            }
          }

          p {
            color: $quaternary-color;
            font-size: 14px;
            font-weight: bold;
            @include MDdesktop {
              font-size: 13px;
            }

            @include desktop {
              font-size: 12px;
            }
          }
        }
      }
    }

    .pd__images-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, 50%);

      @include phone {
        grid-template-columns: repeat(auto-fill, 100%);
      }

      div {
        width: 95%;
        height: 90%;
        background-color: $tertiary-color;
        gap: 5px;
        border-radius: 20px;
        border: 2px solid $quaternary-color;
        transition: all ease-in-out 0.2s;
        cursor: pointer;

        @include phone {
          border-radius: 10px;
          width: 100%;
        }

        &:hover {
          outline: 5px solid $primary-color;
        }

        img {
          object-fit: cover;
          border-radius: 18px;
          width: 100%;
          height: 100%;

          @include phone {
            border-radius: 7px;
          }
        }
      }
    }
  }

  .pd__link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: $primary-color;
    z-index: 100;
    width: 100%;
    height: 50px;
    bottom: 0px;
    color: $secondary-color;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all ease-in-out 0.2s;

    @include MDdesktop {
      font-size: 1rem;
      height: 40px;
    }

    @include desktop {
      font-size: 1rem;
      height: 30px;
    }

    @include LGtablet {
      height: 30px;
      font-size: 1rem;
    }

    @include tablet {
      height: 30px;
      font-size: 1rem;
      flex: 1;
    }

    @include phone {
      height: 30px;
      font-size: 1rem;
      flex: 1;
    }

    &:hover {
      color: $quaternary-color;
    }
  }
}
