@import "../../index.scss";
@import "../../variable.scss";

.oh__main-container {
  @extend .flex-column;
  width: 100%;

  h1 {
    font-size: 4rem !important;
    color: $primary-color;
    text-transform: lowercase;

    @include MDdesktop {
      font-size: 3rem !important;
    }

    @include desktop {
      font-size: 2.5rem !important;
    }

    @include phone {
      font-size: 3rem !important;
    }
  }
}
