@import "../../variable.scss";
@import "../../index.scss";

.c__grid-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  height: 100%;

  @include desktop {
    flex-direction: column;
  }

  @include LGtablet {
    flex-direction: column;
  }

  @include tablet {
    flex-direction: column;
  }

  @include phone {
    flex-direction: column;
  }

  .c__full-header {
    width: 100% !important;
  }

  section {
    flex: 1;
    width: 100%;
    height: 100%;
  }
}
