@import "../../variable.scss";
@import "../../index.scss";

.h__main-container {
  @extend .flex-row;
  width: 100%;
  height: 100%;
  flex: 1;

  @include tablet {
    padding: 0px 0px;
    flex-direction: column-reverse;
  }

  @include phone {
    padding: 0px 0px;
    flex-direction: column-reverse;
    padding-bottom: 20px;
  }

  .h__left-container {
    display: flex;
    flex: 3;
    flex-direction: column;
    position: relative;
    padding: 40px;
    justify-content: center;
    align-items: flex-start;
    transition: all ease 0.2s;
    z-index: 1;

    @include MDdesktop {
      padding: 30px;
    }

    @include desktop {
      padding: 20px;
    }

    @include LGtablet {
      padding: 50px 20px;
      justify-content: flex-end;
    }

    @include tablet {
      padding: 20px 0px;
      justify-content: flex-start;
      height: 100%;
      flex: 1;
    }

    @include phone {
      padding: 20px 0px;
      justify-content: flex-start;
      height: 100%;
      flex: 1;
    }

    h3 {
      color: $quaternary-color;
      font-size: 5rem;
      transform: translateY(35px);
      pointer-events: none;
      transition: all ease 0.2s;

      @include MDdesktop {
        font-size: 4rem;
        transform: translateY(25px);
      }

      @include desktop {
        font-size: 3rem;
        transform: translateY(25px);
      }

      @include LGtablet {
        font-size: 3rem;
        transform: translateY(25px);
      }

      @include tablet {
        font-size: 2.75rem;
        transform: translateY(25px);
      }

      @include phone {
        font-size: 2.25rem;
        transform: translateY(15px);
      }
    }

    h1 {
      color: $primary-color;
      font-size: 6.5rem;
      pointer-events: none;
      transition: all ease 0.2s;

      @include MDdesktop {
        font-size: 5.5rem;
      }

      @include desktop {
        font-size: 4.5rem;
      }

      @include LGtablet {
        font-size: 4.5rem;
      }

      @include tablet {
        font-size: 3.75rem;
      }

      @include phone {
        font-size: 2.75rem;
      }
    }

    p {
      color: $quaternary-color;
      font-size: 2rem;
      pointer-events: none;
      transition: all ease 0.2s;

      @include MDdesktop {
        font-size: 1.7rem;
      }

      @include desktop {
        font-size: 1.3rem;
      }

      @include LGtablet {
        font-size: 1.5rem;
      }

      @include tablet {
        font-size: 1.25rem;
      }

      @include phone {
        font-size: 1rem;
      }
    }
    button {
      transform: translateY(35px);
      background: $quaternary-color;
      border: none;
      padding: 10px 20px;
      width: 50%;
      height: 60px;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: bold;
      color: $secondary-color;
      border-radius: 50px;
      font-family: sans-serif;
      transition: all ease 0.2s;
      letter-spacing: 2px;

      @include MDdesktop {
        height: 50px;
        font-size: 20px;
      }

      @include desktop {
        height: 40px;
        font-size: 15px;
      }

      @include LGtablet {
        height: 50px;
        font-size: 15px;
        width: 300px;
      }

      @include tablet {
        height: 45px;
        font-size: 15px;
        width: 250px;
      }

      @include phone {
        height: 40px;
        font-size: 15px;
        width: 100%;
        border-radius: 10px;
      }

      &:hover {
        background-color: $primary-color;
        color: $quaternary-color;
        letter-spacing: 5px;
      }
    }
  }

  .h__right-container {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: all ease 0.2s;

    @include LGtablet {
      position: absolute;
      width: auto;
      height: 55%;
      right: 100px;
      top: 100px;
      align-items: center;
    }

    @include tablet {
      width: auto;
      height: 50%;
      right: 100px;
      top: 100px;
      align-items: center;
    }

    @include phone {
      width: auto;
      height: 50%;
      right: 100px;
      top: 100px;
      align-items: center;
    }

    img {
      width: auto;
      height: 90%;
      transform: translateX(20%);
      transition: all ease 0.2s;

      @include LGtablet {
        height: 100%;
        transform: none;
      }

      @include tablet {
        height: 100%;
        transform: none;
        flex: 4;
      }

      @include phone {
        height: 100%;
        transform: none;
        flex: 4;
      }
    }
  }
}
