@import "../../variable.scss";
@import "../../index.scss";

.ph__header-container {
  @extend .flex-column;
  width: 65%;
  margin-bottom: 35px;
  transition: all ease 0.2s;
  h1 {
    font-size: 5rem;
    z-index: 1;
    color: $primary-color;
    transition: all ease 0.2s;

    @include MDdesktop {
      font-size: 3.5rem;
    }

    @include desktop {
      font-size: 2.5rem;
    }

    @include LGtablet {
      font-size: 3.5rem;
    }

    @include tablet {
      font-size: 3rem;
    }
  }

  p {
    z-index: 1;
    font-size: 1.75rem;
    font-weight: bold;
    color: $quaternary-color;
    transition: all ease 0.2s;

    @include MDdesktop {
      font-size: 1.5rem;
    }

    @include desktop {
      font-size: 1.25rem;
    }

    @include LGtablet {
      font-size: 1.25rem;
    }

    @include tablet {
      font-size: 1rem;
    }
  }
}
