@import "../../index.scss";
@import "../../variable.scss";

.exp__main-container {
  @extend .flex-column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  padding: 0px 20px;
  gap: 25px;

  .exp__content-container {
    @extend .flex-column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .exp__card-container {
      @extend .flex-column;
      width: 80%;
      height: 100%;
      background-color: $tertiary-color;
      border-radius: 20px;
      padding: 20px;
      gap: 20px;

      .exp__company-container {
        @extend .flex-column;
        position: relative;
        width: 100%;
        img {
          position: absolute;
          right: 0;
          width: auto;
          height: 100%;
          border-radius: 20px;
        }

        h1 {
          font-size: 3.5rem;
          color: $primary-color;
          transform: translateY(15px);
        }

        h2 {
          font-size: 2.5rem;
          color: $quaternary-color;
        }

        h3 {
          text-transform: uppercase;
          color: $secondary-color;
          letter-spacing: 5px;
        }
      }
    }
  }
}
