@import "../../index.scss";
@import "../../variable.scss";

.pl__main-container {
  @extend .flex-column;
  justify-content: flex-start;
  gap: 10px;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px 20px;

  @include LGtablet {
    overflow: hidden;
    position: relative;
    padding: 20px 0px;
  }

  h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: $tertiary-color;
    text-align: start;
    letter-spacing: 5px;
    gap: 10px;

    @include MDdesktop {
      font-size: 1.3rem;
    }

    @include desktop {
      font-size: 1rem;
    }

    @include LGtablet {
      font-size: 1.25rem;
    }
  }

  h3 {
    font-size: 1.75rem;
    color: $quaternary-color;
  }

  p {
    color: $quaternary-color;
    font-size: 1.5rem;
    text-indent: 50px;
    padding: 10px 0px 20px 0px;
    text-align: justify;
    @include MDdesktop {
      font-size: 1.3rem;
    }
    @include desktop {
      font-size: 1rem;
    }

    @include LGtablet {
      font-size: 1.25rem;
    }

    span {
      text-transform: uppercase;
      font-weight: bold;
      color: $primary-color;
    }
  }
  .pl__additional-container {
    @extend .flex-row;
    justify-content: flex-start;
    width: 100%;
    height: 40%;
    gap: 15px;
  }
}
