@import "../../variable.scss";
@import "../../index.scss";

.p__main-container {
  @extend .flex-column;
  @extend .page-size;
  flex: 1;
  padding: 20px 0px;

  .p__content-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    width: 100%;
    gap: 20px;
    z-index: 1;

    @include MDdesktop {
      grid-template-columns: repeat(auto-fill, 250px);
    }

    @include desktop {
      grid-template-columns: repeat(auto-fill, 200px);
    }

    @include LGtablet {
      grid-template-columns: repeat(auto-fill, 250px);
    }

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    @include phone {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding-bottom: 10px;
      gap: 15px;
    }

    .p__image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 500px;
      border-radius: 20px;
      background-color: $tertiary-color;
      transition: all ease-in-out 0.2s;

      @include MDdesktop {
        height: 400px;
      }

      @include desktop {
        height: 300px;
      }

      @include LGtablet {
        height: 400px;
      }

      @include tablet {
        width: 45%;
        height: 400px;
      }

      @include phone {
        width: 100%;
        height: 200px;
        border-radius: 10px;
      }

      &:hover {
        // border: 5px solid $primary-color;
        outline: 10px solid $primary-color;

        @include phone {
          outline: 5px solid $primary-color;

        }
      }

      img {
        width: 100%;

        @include phone {
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
