@import "../../index.scss";
@import "../../variable.scss";

.pc__main-container {
  @extend .flex-column;
  @extend .page-size;
  flex: 1;
  padding: 50px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;

  // @include MDdesktop {
  //   padding: 30px;
  // }

  // @include desktop {
  //   padding: 20px;
  // }

  @include phone {
    padding: 30px;
  }
}
