@import "../../variable.scss";

#t__tooltip {
  display: flex;
  position: relative;
  align-items: center;

  p {
    position: absolute;
    margin: 0px 65px;
    background-color: $quaternary-color;
    padding: 5px 15px;
    color: $secondary-color;
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 10px;
    z-index: 1000;
    border: 5px solid $secondary-color;
  }
}
