@import "../../variable.scss";

#t__tooltip {
  display: flex;
  position: relative;
  align-items: center;

  p {
    position: absolute;
    background-color: $quaternary-color;
    padding: 5px 15px;
    color: $secondary-color;
    font-size: 1rem;
    border-radius: 10px;
    z-index: 1000;
    border: 5px solid $secondary-color;
    white-space: nowrap;

    @include MDdesktop {
      font-size: 0.85rem;
    }

    @include desktop {
      font-size: 0.75rem;
    }

    @include LGtablet {
      font-size: 1rem;
    }
  }

  .t__right {
    margin: 0px 65px;

    @include MDdesktop {
      margin: 0px 55px;
    }

    @include desktop {
      margin: 0px 45px;
    }

    @include LGtablet {
      margin: 0px 55px;
    }
  }

  .t__right {
    transform: translateX(5px);
  }

  .t__top {
    transform: translateY(-45px) translateX(-40%);
  }

  .t__none {
    display: none;
  }
}
