@import "../../variable.scss";

#fi__floating-icon {
  position: absolute;
  align-self: flex-end;
  transform: translateX(-60px) translateY(20px);
  height: 200px;
  transition: all ease-in-out 0.2s;

  @include MDdesktop {
    height: 175px;
  }

  @include desktop {
    height: 150px;
  }

  @include LGtablet {
    height: 125px;
    transform: translateX(-20px) translateY(20px);
  }

  @include tablet {
    height: 125px;
    transform: translateX(-10px) translateY(10px);
  }
}
